<script type="text/javascript">
    function put_value(obj){
        document.getElementById("discussion_content_attributes_tags_attributes_0_tag_name").value = obj.value;
    }
	
	function validateInput(){
        if (document.getElementById('discussion_content_attributes_content_versions_attributes_0_title').value == "") {
            alert("Please enter title!");
            document.getElementById('discussion_content_attributes_content_versions_attributes_0_title').focus();
            return false;
        }
        else if(document.getElementById('discussion_content_attributes_content_versions_attributes_0_body').value == ""){
			alert("Please enter body!");
            document.getElementById('discussion_content_attributes_content_versions_attributes_0_body').focus();
            return false;
		}else if(document.getElementById('discussion_content_attributes_tags_attributes_0_tag_name').value == ""){
			alert("Please enter tag!");
            document.getElementById('discussion_content_attributes_tags_attributes_0_tag_name').focus();
            return false;
		}else{
			return true;
		}            
    }
</script>
<% if is_student?%>
<div id="content-top">   
    <%= nav_link "New Discussion", :discussion, :create %> 
	| 
	<%= nav_link "Show Mine", :discussion, :showmine %>
</div>
<% end %>
<% form_for :discussion, @discussion, :html => { :multipart => true, :onsubmit => "return validateInput()" } do |discussion_form| %>
<fieldset>
    <legend>
        New Discussion
    </legend>
	<% discussion_form.fields_for :content do |content_form| %>
		<% @discussion.content.content_versions.each do |content_version| %>
			<% content_form.fields_for :content_versions, content_version do |content_version_from| %>
			<div class="form_row">
		        <%= content_version_from.label :title, "Title:" %>
		        <%= content_version_from.text_field :title, :size => 50 %>
		    </div>
			<div class="form_row">
		        <%= content_version_from.label :body, "Body:" %>
		        <%= content_version_from.text_area :body, :rows => 20, :cols => 80 %>
		    </div>
			<% end %>
		<% end %>
		<% @discussion.content.tags.each do |tag| %>
			<% content_form.fields_for :tags, tag do |tag_form| %>
				<div class="form_row">
			        <%= tag_form.label :tag_name, "Tag:" %>
			        <%= tag_form.text_field :tag_name, :size => 20 %>
					<%= select "selected","tag", @tags.collect {|t| [t.tag_name,t.tag_name] },{:prompt => '--SELECT--'},{:onchange => "put_value(this)"} %>
			    </div>
			<% end %>
		<% end %>
	<% end %>
	<div class="form_row">
        <%= discussion_form.submit "Save", :disable_with => "Saving..."%>
    </div>
</fieldset>
<% end %>