<% if is_student?%>
	<div align="right"><%= nav_link "New Discussion", :discussion, :create %> | <%= nav_link "My Folder", :discussion, :showmine %></div>
<% end %>
<hr/>

<% if !@discussions.nil? %>
        <% @discussions.each do |discussion| %>
		<% content_detail = ContentVersion.find(discussion.content.latest_version_id) %>
		<ul>
			<li>
				<%= link_to content_detail.title, :action => :comment, :id => discussion.id%>&nbsp;&nbsp;&nbsp;created by :&nbsp;
				<%= h discussion.student.people.firstname %>&nbsp;<%= h discussion.student.people.lastname %>&nbsp;, at :&nbsp;
				<%= h discussion.content.creationdate %>
			</li>
		</ul>
        <% end %>
<% end %>
