<% if is_student? %>
<div id="content-top">
    <%= nav_link "New Discussion", :discussion, :create %>
    | <%= nav_link "Show Mine", :discussion, :showmine %>
</div>
<% end %>
<div id="content-middle">
    <% if !@discussions.nil? %>
    <% @discussions.each do |discussion| %>
    <% content_detail = ContentVersion.find(discussion.content.latest_version_id) %>
    <% if content_detail.contentstatus == CONTENT_STATUS_APPROVED %>
    <div class="box2">
        <h3 class="title"><%= h content_detail.title %></h3>
        <p class="author">
            <%= h discussion.student.people.fullname %>,&nbsp;<%= h discussion.content.creationdate.strftime("%B %d, %Y") %>
        </p>
        <p class="abstract">
            <%= content_detail.body%>
        </p>
        <p class="link">
            <%= link_to "comments", :action => :comment, :id => discussion.id %> 
			<% if is_admin?%>
			| <%= link_to "delete", :action => :delete, :id => discussion.content.id, :frompage => "show"%>
			<% end %>
        </p>
    </div>    
    <% end %>
    <% end %>
    <% end %>
</div>
