<script type="text/javascript">
    function validateInput(){
        if(document.getElementById('old_password').value == ""){
			alert("Please enter old password!");
            document.getElementById('old_password').focus();
            return false;
		}else if (document.getElementById('new_password').value == "") {
            alert("Please enter new password!");
            document.getElementById('new_password').focus();
            return false;
        }
        else if(document.getElementById('confirm_password').value == ""){
			alert("Please enter confirm password!");
            document.getElementById('confirm_password').focus();
            return false;
		}else{
			return true;
		}            
    }
	
</script>

<h1>Change Password</h1>
<% form_tag ({:action => :changepassword}, {:onsubmit => "return validateInput()"}) do %>
<fieldset>
	<legend>
        Change password
    </legend>
    <div class="form_row" style="text-align:left;">
        <%= label_tag :old_password, "Old Password<font color='Red'>&nbsp;*</font>:" %>
        <%= password_field_tag :old_password, '', :size => 20, :maxlength => 20 %>
    </div>
	<div class="form_row" style="text-align:left;">
        <%= label_tag :new_password, "New Password<font color='Red'>&nbsp;*</font>:" %>
        <%= password_field_tag :new_password, '', :size => 20, :maxlength => 20 %>
    </div>
	<div class="form_row" style="text-align:left;">
        <%= label_tag :comfirm_password, "Confirm Password<font color='Red'>&nbsp;*</font>:" %>
        <%= password_field_tag :confirm_password, '', :size => 20, :maxlength => 20 %>
    </div>
	<div >
        <%= submit_tag "Save", :disable_with => "Please wait..." %>
    </div>
	<span style="color:red; font-style:italic;">Minimum Length of password is 4</span>
</fieldset>
<% end %>