<script type="text/javascript">
	
</script>
<h1>Change Password</h1>
<% form_tag :action => :change_password do %>
<fieldset>
	<legend>
        Change password
    </legend>
    <div class="form_row">
        <%= label_tag :old_password, "Old Password:" %>
        <%= password_field_tag :old_password, '', :size => 20, :maxlength => 20 %>
    </div>
	<div class="form_row">
        <%= label_tag :new_password, "New Password:" %>
        <%= password_field_tag :new_password, '', :size => 20, :maxlength => 20 %>[MIN=4]
    </div>
	<div class="form_row">
        <%= label_tag :comfirm_password, "Confirm Password:" %>
        <%= password_field_tag :confirm_password, '', :size => 20, :maxlength => 20 %>
    </div>
	<div class="form_row">
        <%= submit_tag "Save", :disable_with => "Please wait..." %>
    </div>
</fieldset>
<% end %>