<script type="text/javascript">
    function validateInput(){
        if(document.getElementById('username').value == ""){
			alert("Please enter username!");
            document.getElementById('username').focus();
            return false;
		}else if (document.getElementById('validation_code').value == "") {
            alert("Please enter validation code!");
            document.getElementById('validation_code').focus();
            return false;
        }else if(document.getElementById('new_password').value == ""){
			alert("Please enter new password!");
            document.getElementById('new_password').focus();
            return false;
		}else if(document.getElementById('confirm_password').value == ""){
			alert("Please enter confirm password!");
            document.getElementById('confirm_password').focus();
            return false;
		}else{
			return true;
		}            
    }
	
</script>

<h1>Create new password</h1>
<% form_tag ({:action => :createnewpassword}, {:onsubmit => "return validateInput()"}) do %>
<fieldset>
    <legend>
        Create New Password
    </legend>
    <div class="form_row" style="text-align:left;">
        <%= label_tag :username, "User Name<font color='Red'>&nbsp;*</font>:" %>
        <%= text_field_tag :username, '', :size => 20 %>
    </div>
    <div class="form_row" style="text-align:left;">
        <%= label_tag :validation_code, "Validation Code<font color='Red'>&nbsp;*</font>:" %>
        <%= text_field_tag :validation_code, '', :size => 20, :maxlength => 20 %>
    </div>
    <div class="form_row" style="text-align:left;">
        <%= label_tag :new_password, "New Password<font color='Red'>&nbsp;*</font>:" %>
        <%= password_field_tag :new_password, '', :size => 20, :maxlength => 20 %>
    </div>
    <div class="form_row" style="text-align:left;">
        <%= label_tag :comfirm_password, "Confirm Password<font color='Red'>&nbsp;*</font>:" %>
        <%= password_field_tag :confirm_password, '', :size => 20, :maxlength => 20 %>
    </div>
    <div >
        <%= submit_tag "Save", :disable_with => "Please wait..." %>
    </div>
    <span style="color:red; font-style:italic;">Minimum Length of password is 4</span>
</fieldset>
<% end %>