<h1>Create new password</h1>
<% form_tag :action => :createnewpassword do %>
<fieldset>
    <legend>
        Create New Password
    </legend>
    <div>
        <%= label_tag :username, "User Name:" %>
        <%= text_field_tag :username, '', :size => 20 %>
    </div>
    <div>
        <%= label_tag :validation_code, "Validation Code:" %>
        <%= text_field_tag :validation_code, '', :size => 20, :maxlength => 20 %>
    </div>
    <div>
        <%= label_tag :new_password, "New Password:" %>
        <%= password_field_tag :new_password, '', :size => 20, :maxlength => 20 %>
    </div>
    <div>
        <%= label_tag :comfirm_password, "Confirm Password:" %>
        <%= password_field_tag :confirm_password, '', :size => 20, :maxlength => 20 %>
    </div>
    <div>
        <%= submit_tag "Save", :disable_with => "Please wait..." %>
    </div>
    <span style="color:red; font-style:italic;">Minimum Length of password is 4</span>
</fieldset>
<% end %>