<fieldset class="login">
    <legend>
        Login Details
    </legend>
    <% form_for :user do |form| %>
    <div>
        <%= form.label :username, "Username:" %>
        <%= form.text_field :username, :size => 20, :maxlength => 20 %>
    </div>
    <div>
        <%= form.label :password, "Password:" %>
        <%= form.password_field :password, :size => 20, :maxlength => 20 %>
    </div>
    <div>
        <%= form.submit "Sign in" %>
    </div>
    <div>
        <%= link_to "Forget Password", :action => :forgetpassword %>
    </div>
    <% end %>
</fieldset>
