<script type="text/javascript">
    function validateInput(){
        if(document.getElementById('user_username').value == ""){
			alert("Please enter username!");
            document.getElementById('user_username').focus();
            return false;
		}else if (document.getElementById('user_password').value == "") {
            alert("Please enter password!");
            document.getElementById('user_password').focus();
            return false;
        }else{
			return true;
		}            
    }
</script>

<fieldset class="login">
    <legend>
        Login Details
    </legend>
    <% form_for :user, :html => { :onsubmit => 'return validateInput()'} do |form| %>
    <div class="form_row" style="text-align:left;">
        <%= form.label :username, "Username<font color='Red'>&nbsp;*</font>:" %>
        <%= form.text_field :username, :size => 20, :maxlength => 20 %>
    </div>
    <div class="form_row" style="text-align:left;">
        <%= form.label :password, "Password<font color='Red'>&nbsp;*</font>:" %>
        <%= form.password_field :password, :size => 20, :maxlength => 20 %>
    </div>
    <div>
        <%= form.submit "Sign in" %>
    </div>
    <div>
        <%= link_to "Forget Password", :action => :forgetpassword %>
    </div>
    <% end %>
</fieldset>
