<div id="content-top">
    <% if params[:showlist] == "Faculty" %>
	<% currentpage = "Faculty"%>
    <b>Faculty List</b>
    | <%= link_to "Show Student", :action => :show, :showlist => :Student%>
    <% else %>
    <b>Student List</b>
	<% currentpage = "Student"%>	
    | <%= link_to "Show Faculty", :action => :show, :showlist => :Faculty%>
    <% end %>
    <span>: There are <%=@no_faculties %>faculties and <%=@no_students %>students in the system</span>
    <span style="float:right;"><% form_tag :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :disable_with => "Searching...", :name => nil %>
        <% end %>
    </span>
</div>
<div id="content-middle">
    <% if !@peoples.nil? %>
    <table id="hor-minimalist-a">
        <thead>
            <tr>
                <th scope="col">
                    &nbsp;
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Email
                </th>
                <th scope="col">
                    Username
                </th>
                <th scope="col">
                    <%= sortable "Identification Code", "identificationcode", currentpage%>
                </th>
				<th scope="col">
                    Registered
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col">
                    #Login
                </th>
            </tr>
        </thead>
        <tbody>
            <% i= 0 %>
            <% for people in @peoples %>
            <% i= i+1 %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td nowrap>
                    <%= h people.fullname %>
                </td>
                <td nowrap>
                    <%= h people.emailaddress %>
                </td>
                <td nowrap>
                    <%= h people.user.username %>
                </td>
                <% if people.user.usertype == TYPE_STUDENT %>
                <td>
                    <%= h people.student.identificationcode %>
                </td>
                <td>
                    <%= h people.student.admissiondate %>
                </td>
                <% elsif people.user.usertype == TYPE_FACULTY %>
                <td>
                    <%= h people.faculty.identificationcode %>
                </td>
                <td>
                    <%= h people.faculty.joindate %>
                </td>
                <% elsif people.user.usertype == TYPE_ADMINISTRATOR %>
                <td>
                    <%= h people.administrator.identificationcode %>
                </td>
                <td>
                    <%= h people.administrator.registereddate %>
                </td>
                <% end %>                
                <td>
                    <% if people.user.isvalid %>
                    <%= link_to "Active", :action => :show, :valid => :false, :id => people %>
                    <% else %>
                    <%= link_to "Inactive", :action => :show, :valid => :true, :id => people %>
                    <% end %>
                </td>
                <td>
                    <%= h people.user.logged_counter %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
</div>
<div id="content-bottom">
    <%= nav_link "Add User", :user, :register %>
</div>
