<script type="text/javascript">
    function validateInput(){
        if (document.getElementById('comment_content_attributes_content_versions_attributes_0_body').value == "") {
            alert("Please enter comment body!");
            document.getElementById('comment_content_attributes_content_versions_attributes_0_body').focus();
            return false;
        }
        else 
            if (document.getElementById('comment_commentor_attributes_name').value == "") {
                alert("Please enter name!");
                document.getElementById('comment_commentor_attributes_name').focus();
                return false;
            }
            else 
                if (document.getElementById('comment_commentor_attributes_email').value == "") {
                    alert("Please enter email!");
                    document.getElementById('comment_commentor_attributes_email').focus();
                    return false;
                }
                else 
                    if (validate_email(document.getElementById('comment_commentor_attributes_email').value) == false) {
                        document.getElementById('comment_commentor_attributes_email').select();
                        return false;
                    }
                    else {
                        return true;
                    }
    }
</script>
<% if !@internships.nil? and @internships.length > 0 %>
<div id="content-top">
    <%= nav_link "New Site Review", :site_review, :create %>
    | <%= nav_link "Show Mine", :site_review, :showmine %>
    <p>
        You can make a review to only site you had worked for more than 90 days
    </p>
</div>
<% elsif is_student? %>
<div id="content-top">
    <%= nav_link "Show Mine", :site_review, :showmine %>
    <p align="center">
        <i>You can make a review to only site you had worked for more than 90 days</i>
    </p>
</div>
<% end %>
<div id="content-middle">
    <div class="post_content">
        <% content_detail = ContentVersion.find(@review.content.latest_version_id) %>
        <b>
            <u>
                <%= content_detail.title %>
            </u>
        </b>&nbsp;<%= @review.internship.student.people.fullname %>,&nbsp;<i><%= h content_detail.content.creationdate.strftime("%B %d, %Y") %></i>
        <%=h content_detail.body %>
        <p>
            <i>tags: <% @review.content.tags.each do |tag| %>
                <%=tag.tag_name %>&nbsp;<%end %>
            </i>
        </p>
    </div>
    <% i=0 %>
    <% @comments.each do |comment| %>
    <% content_detail_comment = ContentVersion.find(comment.content.latest_version_id) %>
    <% if content_detail_comment.contentstatus == CONTENT_STATUS_APPROVED %>
    <% i = i+1 %>
    <div class="comments">
        <p>
            <%=i %>.<% if !comment.commentor.people_id.nil? %>
            <b><%= h comment.commentor.people.firstname %>&nbsp;<%= h comment.commentor.people.lastname %></b>
            <% else %>
            <b><%= h comment.commentor.name %>&nbsp;<%= h comment.commentor.email %></b>
            <% end %>
            <i><%= h comment.content.creationdate.strftime("%B %d, %Y") %></i>
        </p>
        <%= h content_detail_comment.body %>
        <% if is_admin? %>
        <p class="link">
            <%= link_to "delete", :action => :delete_comment, :id => content_detail_comment.content_id %>
        </p>
        <% end %>
    </div>
    <% end %>
    <% end %>
    <fieldset style="margin: 10px;">
        <% form_for :comment, @comment, :html => { :multipart => true, :onsubmit => "return validateInput()" } do |comment_form| %>
        	<%= comment_form.hidden_field :site_review_id, :value => @review.id %>
	        <% comment_form.fields_for :commentor do |commentor_from| %>
	        <div>
	            <%= commentor_from.label :name, "Name<font color='Red'>&nbsp;*</font>:" %>
	            <%= commentor_from.text_field :name, :size => 50 %>
	        </div>
	        <div>
	            <%= commentor_from.label :email, "Email<font color='Red'>&nbsp;*</font>:" %>
	            <%= commentor_from.text_field :email, :size => 50 %>
	        </div>
	        <div>
	            <%= commentor_from.label :homepage, "Home Page:" %>
	            <%= commentor_from.text_field :homepage, :size => 50 %>
	        </div>
	        <% end %>
	        <% comment_form.fields_for :content do |content_form| %>
		        <% @comment.content.content_versions.each do |content_version| %>
			        <% content_form.fields_for :content_versions, content_version do |content_version_from| %>
				        <div>
				            <%= content_version_from.label :body, "Comment<font color='Red'>&nbsp;*</font>:" %>
				            <%= content_version_from.text_area :body, :rows => 10, :cols => 50 %>
				        </div>
			        <% end %>
		        <% end %>
			<% end %>
	        <% if !logged_in? %>
	        <div style="margin-left:210px;">
	            <%=recaptcha_tags :ajax => true, :display => {:theme => 'white'} %>
	        </div>
	        <% end %>
	        <div>
	            <%= comment_form.submit "Submit", :disable_with => "Submitting..." %>
	        </div>
        <% end %>
    </fieldset>
</div>
