<div id="site_form" >
	
	<div class="post_content">
        <b><u><%= h @content_detail.title %></u></b>&nbsp;
		<%= @content.site_review.internship.student.people.fullname%>,&nbsp;<i><%= h @content.creationdate.strftime("%B %d, %Y at %I:%M %p") %></i>
        <% @content_detail.body.split("\n").each do |p|%>
			<p><%= p%></p>
		<%end%>
	</div>
	<hr/>
	<% form_tag :action => :givereason do %>
		<%= hidden_field_tag 'content_id', @content_detail.content.id%>
        Reason :<br/> 
		<%= text_area_tag 'reason' , nil, :rows => 15, :cols => 50 %><br/> 
		<%= submit_tag "Submit" %>
    <% end %>
</div>