<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title><%= @title %></title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="all" />
        <link rel="stylesheet" href="../stylesheets/griddesign.css" type="text/css" />
        <%= stylesheet_link_tag 'griddesign', :cache => true %>
        <%= stylesheet_link_tag 'calendar' %>
        <%= javascript_include_tag :defaults %>
        <%= javascript_include_tag 'calendar' %>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1><%= link_to image_tag("logo.png", :height => 43, :alt => "Home"), :controller => :main, :action => :index %></h1>
                <div id="nav">
                    <ul>
                        <% if logged_in? %>
                        <% if is_admin? %>
                        <li>
                            <%= nav_link "Add User", :user, :register %>
                        </li>
                        <li>
                            <%= nav_link "Show", :user, :show %>
                        </li>
                        <li>
                            <%= nav_link "Sign Out",:user, :logout %>
                        </li>
                        <% end %>
                        <% else %>
                        <li>
                            <%= nav_link "Reviews",:review, :view %>
                        </li>
                        <li>
                            <%= nav_link "Articles",:article, :view %>
                        </li>
                        <li>
                            <%= nav_link "Discussions",:discussion, :view %>
                        </li>
                        <li>
                            <%= nav_link "Sign In",:user, :login %>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div id="section">
                <h2><%= @title %></h2>
                <h4><%= @subtitle %></h4>
            </div>
            <div id="content">
                <% if flash[:notice] %>
                <span style="color:#008000;"><%= flash[:notice] %>
                </span>
                <% end %>
                <% if flash[:error] %>
                <span style="color:#FF0000;"><%= flash[:error] %>
                </span>
				<% end %>
                <%= @content_for_layout %>				
            </div>
            <div id="footer">
                <p class="copyright">
                    &nbsp;&nbsp;&copy;2008 Rainfall Daffinson Design
                    &nbsp;<span style="color: rgb(170, 170, 170);">|</span>&nbsp;&nbsp;GNU General Public License, version 3 (GPLv3)
                    &nbsp;<span style="color: rgb(170, 170, 170);">|</span>&nbsp;&nbsp;&copy;Prince of Songkla University
                </p>
                <p class="europe">
                    <%= nav_link "About",:main, :about %>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= nav_link "Contact",:main, :contact %>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= nav_link "FAQ",:main, :faq %>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= nav_link "Site Map",:main, :sitemap %>
                </p>
            </div>
            <div id="w3">
            </div>
        </div>
    </body>
</html>
