<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title><%= @title %></title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="all" />
        <link rel="stylesheet" href="../stylesheets/griddesign.css" type="text/css" />
        <%= stylesheet_link_tag 'griddesign', :cache => true %>
        <%= javascript_include_tag :defaults %>
    </head>
    <body>
        <div id="container">
            <div id="top-header">
                <div style="float:left;">
                    <%= Time.now().strftime("%B %d, %Y") %>
                </div>
                <div style="float:right;">
                    <%= get_name_of_user %>
                    <% if logged_in? %>
                    &nbsp; <span style="color: rgb(170, 170, 170);">|</span>
                    &nbsp; <%= nav_link "Sign Out",:user, :logout %>
                    <% else %>
                    <%= nav_link "Sign In",:user, :login %>
                    <% end %>
                </div>
            </div>
            <div id="header">
                <h1><%= link_to image_tag("logo.png", :height => 43, :alt => "Home"), :controller => :main, :action => :index %></h1>
                <div id="nav">
                    <ul>
                        <% if logged_in? %>
                        <% if is_admin? %>
                        <li>
                            <%= nav_link "Users", :user, :show %>
                        </li>
                        <li>
                            <%= nav_link "Evaluation", :admin, :show_enquiry %>
                        </li>
                        <li>
                            <%= nav_link "Internship", :internship, :index %>
                        </li>
                        <li>
                            <%= nav_link "News", :broadcast, :show %>
                        </li>
						<li>
                            <%= nav_link "Reviews", :site_review, :showforadmin %>
                        </li>
                        <% end %>
                        <% if is_student? %>
                        <li>
                            <%= nav_link "Reviews", :student, :reviews %>
                        </li>
                        <li>
                            <%= nav_link "Articles", :student, :articles %>
                        </li>
                        <li>
                            <%= nav_link "Discussions", :student, :discussions %>
                        </li>
                        <li>
                            <%= nav_link "Evaluations", :student, :evaluations %>
                        </li>
                        <% end %>
                        <% if is_site? %>
                        <li>
                            <%= nav_link "Student Evaluations", :site, :studentevaluations %>
                        </li>
                        <li>
                            <%= nav_link "My Evaluations", :site, :myevaluations %>
                        </li>
                        <% end %>
                        <% if is_faculty? %>
                        <li>
                            <%= nav_link "Student Evaluations", :faculty, :studentevaluations %>
                        </li>
                        <li>
                            <%= nav_link "Site Evaluations", :faculty, :siteevaluations %>
                        </li>
                        <li>
                            <%= nav_link "Discussions", :discussion, :show %>
                        </li>
                        <% end %>
                        <li>
                            <%= nav_link "Change Password", :user, :changepassword %>
                        </li>
                        <% else %>
                        <li>
                            <%= nav_link "Reviews",:site_review, :show %>
                        </li>
                        <li>
                            <%= nav_link "Articles",:article, :show %>
                        </li>
                        <li>
                            <%= nav_link "Discussions",:discussion, :show %>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div id="section">
                <h2><%= @title %></h2>
                <h4><%= @subtitle %></h4>
            </div>
            <div id="content">
                <% if flash[:notice] %>
                <span style="color:#008000;"><%= flash[:notice] %>
                </span>
                <% end %>
                <% if flash[:error] %>
                <span style="color:#FF0000;"><%= flash[:error] %>
                </span>
                <% end %>
                <%= @content_for_layout %>
            </div>
            <div id="footer">
                <p class="copyright">
                    &nbsp;&nbsp;&copy;2008 Rainfall Daffinson Design
                    &nbsp;<span style="color: rgb(170, 170, 170);">|</span>&nbsp;&nbsp;GNU General Public License, version 3 (GPLv3)
                    &nbsp;<span style="color: rgb(170, 170, 170);">|</span>&nbsp;&nbsp;&copy;Prince of Songkla University
                </p>
                <p class="europe">
                    <%= nav_link "About",:main, :about %>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= nav_link "Contact",:main, :contact %>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= nav_link "FAQ",:main, :faq %>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= nav_link "Site Map",:main, :sitemap %>
                </p>
            </div>
            <div id="w3">
            </div>
        </div>
    </body>
</html>
